*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
}
body{
    background-color: #D3D3D3;
}
#container{
    position: fixed;
    width: 100%;
    height: 100vh;
    padding-top: 110px;
    background: linear-gradient(90deg,#B82B28,#515089,#1963BC);
    transform:skewY(10deg);
    box-shadow: 10px 0 10px black;
    
}

#sub-container{
    transform: skewY(-10deg);
    background: linear-gradient(90deg, #8A2386, #D43A61,#F27122);
    width: 85%;
    height: 90%;
    margin: auto;
    position: relative;
    box-shadow: 0px 0px 15px black ;
}
.text{
    width: 49%;
    padding-top: 40px;
    padding-left: 30px;
}
.image{
    position: absolute;
    bottom: 55%;
    left: 80%;
    display: inline-block;
}
img{
    width: 20rem;
    height: 300px;   
}
h1{
    color: white;
    font-size: 32px;
    margin-bottom: 30px;
}
p{
    width: 82%;
    color: white;
    font-size: 18px;
}

/* Hover */

.image:hover{
    transform: scale(1.7) translateX(-50%) translateY(20%);
}
